@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: overlay;
    @apply bg-neutral-100;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    @apply bg-dark;
    border-radius: 8px;
}