@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-100;
}

.parser a {
    @apply text-white bg-primary rounded px-2 hover:-m-1 hover:px-3 hover:py-1 transition-all
}

.parser em {
    @apply rounded text-white px-2 bg-secondary
}

* {
    scrollbar-width: none;
    scrollbar-color: #fff #000;
}

*::-webkit-scrollbar {
    width: 18px;
    background-color: #000;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 8px;
    border: 5px solid #000;
}