@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white
}

p {
    @apply text-dark
}

::-webkit-scrollbar {
    background: #171717;
}

::-webkit-scrollbar-thumb {
    border: solid 0.25rem #171717;
    border-radius: 1rem;
    background: #f5f5f5;
}